@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body {
    font-family: 'Lobster', cursive;
}
.MainContain {
    background-image: url('Images/robert-ruggiero-U5HMj5J6Opg-unsplash.jpg');
    background-size: cover;
    height: 20rem;
    text-align: center;
    color: white;
    font-family: 'Lobster', cursive;
}
h1{
font-size:64px;
padding: 1rem;
}

.para {
    //our mission paragaph;
    margin-top: 2rem;
}
.para1 {
    margin-top: 1.5rem;
}
.para2 {
    margin-bottom: 1.5rem;
}
h3{
    
    color: green;

}
.cata{
   text-align:center;
   margin-top: 3rem;
   
}
